body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.calc {
    display: grid;
    background-color: #3a4452;
    border-radius: 8px;
    padding: 10px;
}

.display {
    grid-column: span 4;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.display input {
    width: 350px;
    height: 50px;
    padding: 10px;
    font-size: 2em;
    text-align: right;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    color: #3a4452;
}

button {
    width : 70px;
    border: none;
    height: 70px;
    padding: 20px;
    font-size: 28px;
    color: white;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3a4452;
    transition: background-color 0.3s;
    box-shadow: -6px -6px 15px rgba(255,255,255,0.1), 6px 6px 15px rgba(0,0,0,0.2);
}

button:hover {
    background-color: #d0d0d0;
}

button.ac {
    background-color: #ff6666;
    color: white;
    padding: 0%;
}

button.del {
    background-color: #ffcc66;
    color: white;
    padding: 0%;
}

button.equal {
    background-color: #66cc66;
    color: white;
    width: 165px;
}
button.equal:hover {
    background-color: #409743;
}
button.ac:hover {
    background-color: #c12727;
}
button.del:hover {
    background-color: #bf8518;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}